@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/imgs/background-img.jpg");
    background-size: cover;
    background-position: center;
}

.login__container{
    border: 1px solid white;
    backdrop-filter: blur(8px);
    box-sizing: border-box;
    min-width: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius:20px;
    
}

.login__container h1{
    font-size: 3em;
    text-align: center;
}

.input__box{
    position: relative;
    height: 3em;
    width: 100%;
    margin: 1em 0;
}

form{
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
}

.input__box input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: white;
    padding: 1em 2em 1em 3em;
    
}

.input__box input::placeholder{
    color: white;
}

.input__box i{
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
}

.login__container .login__button{
    justify-self: center;
    width: 30%;
    height: 3em;
    background: white;
    border: none;
    outline: none;
    color: #333;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-weight: bold;
    &:hover{
        background-color: #cccccc;
    }
    &:active{
        background-color: #7f7f7f;
    }
}

.login__container .forgot__password{
    display: flex;
    justify-content: right;
    font-size: 0.9em;
    margin: -1em 0 1em;
    text-decoration: underline;
    justify-self: center;
}

.forgot__password a{
    color: white;
    text-decoration: none;
}

.login__container .register__container{
    font-size: 0.9em;
    text-align: center;
    margin: 1.2em 0 1em;
}

.register__container p a{
    color: white;
    text-decoration: none;
}

.register__container a{
    color: white;
    font-size: 1.05em;
    font-weight: bolder;
}